<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="common/layout(title='测试布局')">

<div th:fragment="main_content">
    <table class="table table-hover">
        <tr>
            <td>编号</td>
            <td>标题</td>
            <td>发表日期</td>
        </tr>
        <tr th:each="article:${articles}">
            <td th:text="${article.getId()}"></td>
            <td th:text="${article.getTitle()}"></td>
            <td th:text="${article.getCreateDate()}"></td>
        </tr>
    </table>
</div>
</html>
